.reveal blockquote {
  background: rgba(255, 255, 255, 0.7);
  width: auto;
}

.slide-header {
  width: 100%;
  z-index: 10;
}

.slide-header-text {
  float: right;
}

.reveal pre code {
  max-height: unset;
  padding: 2px;
  line-height: 1.1em;
}